# Intellij
*.iml
.idea
# npm
node_modules
# build
main.js
*.js.map
# obsidian
data.json
/Folder.DotSettings.user
.vs

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
